.totalLikes {
    display: flex;
    justify-content: space-around;
}

.totalLikes button {
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}

.totalLikes p {
    font-weight: 500;
    font-style: oblique;
}